.btn-group {
  .gl-disclosure-dropdown:not(:last-child) {
    .gl-new-dropdown-toggle {
      @include gl-rounded-top-right-none;
      @include gl-rounded-bottom-right-none;
    }
  }

  .gl-disclosure-dropdown:not(:first-child) {
    .gl-new-dropdown-toggle {
      @include gl-rounded-top-left-none;
      @include gl-rounded-bottom-left-none;

      // Prevent double borders when buttons are next to each other
      margin-left: -1px;
    }
  }

  .gl-disclosure-dropdown:hover {
    .gl-new-dropdown-toggle {
      @include gl-z-index-1;
    }
  }

  .gl-disclosure-dropdown {
    .gl-new-dropdown-toggle:focus,
    .gl-new-dropdown-toggle:active {
      @include gl-z-index-1;
    }
  }
}

.gl-disclosure-dropdown {
  &.gl-new-dropdown {
    .gl-new-dropdown-inner {
      max-height: none;
    }

    .gl-new-dropdown-item-content {
      &:disabled,
      &[disabled] {
        @include gl-text-gray-500;
        cursor: not-allowed;
        background: none;
        text-decoration: none;
      }
    }
  }
}
